<label class="preference-item">
  <div class="preference-info">
    <h3>{{ title }}</h3>
    <p>{{ description }}</p>
  </div>
  <div class="toggle-switch">
    <input type="checkbox" name="{{ name }}"{% if checked %} checked{% endif %}>
    <span class="toggle-slider"></span>
  </div>
</label>