<div class="social-link-item">
  <div class="social-icon {{ platform }}">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
      <path d="{{ iconPath }}"/>
    </svg>
  </div>
  <div class="social-input-group">
    <label>{{ label }}</label>
    <input type="url" name="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}">
  </div>
</div>