---
layout: dashboard.njk
title: Add New Bike
customCSS:
  - /assets/css/bike-details.css
---

<!-- Custom CSS for this page -->
<link rel="stylesheet" href="/add-bike/styles/add-bike.css">

<!-- Main Container -->
<div class="vehicle-selection-container">
    <!-- Left Menu Panel -->
    {% include "./add-bike/components/menu-panel.njk" %}
    
    <!-- Right Display Panel -->
    {% include "./add-bike/components/display-panel.njk" %}
</div>

<script type="module" src="/add-bike/js/app.js"></script>