<!-- Bikes Grid -->
<div class="bikes-grid">
    {% for bike in bikes %}
        {% include "./bike-card.njk" %}
    {% endfor %}

    <!-- Add New Bike Card -->
    <div class="bike-card add-bike-card">
        <a href="/add-bike-v2/" class="add-bike-link">
            <div class="add-bike-content">
                <div class="add-bike-icon">➕</div>
                <h3>Add New Bike</h3>
                <p>Start building your virtual garage</p>
            </div>
        </a>
    </div>
</div>