---
permalink: /virtual-garage-dashboard/
layout: bikenode-main-layout-01
title: Virtual Garage Dashboard
---

<div class="bikes-my-garage-page">
    {% include "./components/bikes-my-garage-content-header.njk" %}

    <div class="bikes-my-garage-container">
        <!-- Bikes Tab -->
        <div class="bikes-my-garage-tab-content bikes-my-garage-tab-active" data-tab-content="bikes">
            {% include "./components/bikes-my-garage-garage-stats.njk" %}
            {% include "./components/bikes-my-garage-garage-filters.njk" %}
            {% include "./components/bikes-my-garage-bikes-grid.njk" %}
        </div>
        
        <!-- Crash Reports Tab -->
        <div class="bikes-my-garage-tab-content" data-tab-content="crash-reports">
            {% include "./components/bikes-my-garage-crash-reports-list.njk" %}
        </div>
        
        <!-- Maintenance Tab -->
        <div class="bikes-my-garage-tab-content" data-tab-content="maintenance">
            {% include "./components/bikes-my-garage-maintenance-schedule.njk" %}
        </div>
    </div>
</div>

<!-- Page Styles -->
<link rel="stylesheet" href="./styles/bikes-my-garage.css">

<!-- Page JavaScript -->
<script src="./js/bikes-my-garage.js"></script>
