---
layout: bikenode-main-layout-01
title: Gear Collection
subtitle: Organize and track all your cycling and motorcycling gear
showContentHeader: false
breadcrumb:
  - title: Dashboard
    url: /dashboard/
  - title: Gear Collection
customCSS:
  - ./styles/gear-my-collection.css
customJS:
  - ./js/gear-my-collection.js
---


<div class="gear-my-collection-page">
    {% include "./components/gear-my-collection-header.njk" %}
    {% include "./components/gear-my-collection-categories.njk" %}
    {% include "./components/gear-my-collection-filters.njk" %}
    {% include "./components/gear-my-collection-gear-grid.njk" %}
    {% include "./components/gear-my-collection-add-gear-modal.njk" %}
</div>
