<!-- Map Display Preferences Component -->
<div class="map-display-prefs">
    <h4>Map display</h4>
    
    <div class="display-options">
        <label class="toggle-item">
            <input type="checkbox" id="showSurfaceType" checked>
            <span class="toggle-slider"></span>
            Surface type
        </label>
        <label class="toggle-item">
            <input type="checkbox" id="showDistanceMarkers" checked>
            <span class="toggle-slider"></span>
            Distance markers
        </label>
        <label class="toggle-item">
            <input type="checkbox" id="showHeatmaps">
            <span class="toggle-slider"></span>
            Heatmaps (1)
        </label>
        <label class="toggle-item">
            <input type="checkbox" id="showSegments">
            <span class="toggle-slider"></span>
            Segments
        </label>
    </div>
</div>