<!-- Recent Activity -->
<div class="recent-activity">
    <h2>Recent Activity</h2>
    <div class="BN-Global-list">
        <a href="/bike-details/yamaha-yzf-r1-2023/" class="BN-Global-list-item">
            <div class="activity-icon">🏍️</div>
            <div class="activity-content">
                <h4>Added 2023 Yamaha YZF-R1</h4>
                <p>Sport bike added to your garage</p>
                <span class="activity-time">2 hours ago</span>
            </div>
        </a>
        
        <a href="/community/sport-bike-riders/" class="BN-Global-list-item">
            <div class="activity-icon">👥</div>
            <div class="activity-content">
                <h4>Joined Sport Bike Riders community</h4>
                <p>Connected with 1,234 other riders</p>
                <span class="activity-time">1 day ago</span>
            </div>
        </a>
        
        <a href="/community/mountain-bike-central/manage/" class="BN-Global-list-item">
            <div class="activity-icon">💬</div>
            <div class="activity-content">
                <h4>Bot added to Mountain Bike Central</h4>
                <p>BikeNode bot is now active in your server</p>
                <span class="activity-time">3 days ago</span>
            </div>
        </a>
        
        <a href="/bike-details/trek-fuel-ex/" class="BN-Global-list-item">
            <div class="activity-icon">📸</div>
            <div class="activity-content">
                <h4>Updated bike photos</h4>
                <p>Added 5 new photos to your Trek Fuel EX</p>
                <span class="activity-time">1 week ago</span>
            </div>
        </a>
    </div>
</div>