<!DOCTYPE html>
<html lang="en">
<head>
    {% include "./front-page-layout-head.njk" %}
</head>
<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
    <!-- Background Animation Canvas -->
    <canvas id="front-page-layout-background-canvas"></canvas>
    
    {% include "./front-page-layout-header.njk" %}
    
    {{ content | safe }}
    
    {% include "./front-page-layout-footer.njk" %}
    
    <script src="./front-page-layout-background-animation.js"></script>
    {% if customJS %}
    {% for script in customJS %}
    <script src="{{ script }}"></script>
    {% endfor %}
    {% endif %}
    {% if inlineJS %}
    <script>
    {{ inlineJS | safe }}
    </script>
    {% endif %}
</body>
</html>