---
layout: bikenode-main-layout-01
title: Segments
subtitle: Challenge yourself on popular local segments and compete for KOMs/QOMs
showContentHeader: false
customCSS:
  - https://unpkg.com/leaflet@1.9.4/dist/leaflet.css
  - ./styles/rides-segments-leaderboard.css
customJS:
  - https://unpkg.com/leaflet@1.9.4/dist/leaflet.js
  - ./js/rides-segments-leaderboard.js
---

<div class="rides-segments-leaderboard-container">
    {% include "./components/rides-segments-leaderboard-header.njk" %}
    {% include "./components/rides-segments-leaderboard-map.njk" %}
    {% include "./components/rides-segments-leaderboard-filters.njk" %}
    {% include "./components/rides-segments-leaderboard-list.njk" %}
</div>

<!-- Modals -->
{% include "./components/rides-segments-leaderboard-detail-modal.njk" %}
{% include "./components/rides-segments-leaderboard-create-modal.njk" %}

<!-- Leaflet CSS & JS -->


<!-- Load Leaflet JS -->

<!-- Segments Application -->
