<\!-- Overview Tab -->
<div class="tab-content active" id="overview">
    <div class="content-grid">
        {% include "./overview/about-section.njk" %}
        {% include "./overview/recent-activity.njk" %}
        {% include "./overview/featured-bikes.njk" %}
    </div>
</div>
EOF < /dev/null