<!-- Profile Picture & Banner -->
{% include "edit-profile/sections/profile-media.njk" %}

<!-- Basic Information -->
{% include "edit-profile/sections/basic-information.njk" %}

<!-- Cycling Profile -->
{% include "edit-profile/sections/cycling-profile.njk" %}